.photo-layout {
  display: grid;
  grid-template-areas: 'image colors';
  grid-gap: 10px;
  padding: 10px;

  &__image {
    grid-area: image;
    height: 50vh;
    display: flex;
    justify-content: center;

    img {
      max-height: 100%;
      max-width: 100%;
    }
  }

  &__colors {
    grid-area: colors;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-gap: 10px;
  }

  .color {
    display: flex;
    border: 1px solid #212121;
    width: 100%;
    flex-direction: row;
  }
}

h1 {
  text-align: center;
}

.photo {
  width: 400px;
  height: 400px;
}

img {
  max-height: 100%;
  max-width: 100%;
}
